	<!DOCTYPE html>
	<html>
	<head>
	<title>TODO LIST</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="angular-ui-router.js"></script>
	<body ng-app="todoApp" >
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">TODO LIST</a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Dashboard</a></li>
		  <li><a href="#">Menu 1</a></li>
		  <li><a href="#">Menu 2</a></li>
		  <li><a href="#">Menu 3</a></li>
		</ul>
	  </div>
	</nav>
	  
	<div class="container" ng-init="projectList = projectList">
	 <div class="row" ng-controller="todaysTaskCtrl">
	 <label>Search Project: <input ng-model="search"></label>
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Serial</th>
        <th>Project Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody ng-repeat="proj in projectList | filter:search:strict">
      <tr ng-click="projectDetailClicked(proj)">
        <td>{{proj.serial}}</td>
        <td>{{proj.projectName}}</td>
        <td>{{proj.status}}</td>
      </tr>
    </tbody>
  </table>
	</div>
	</div>
	<div id="footer">
      <div class="container">

      </div>
    </div>

	<script>
	var app = angular.module('todoApp', ['ui.router']); 
	app.controller('todaysTaskCtrl', function($scope, $http) {
		$http({
    url: 'http://jsonstub.com/getProjectList',
    method: 'GET',
    dataType: 'json', 
    data: '',         
    headers: {
        'Content-Type': 'application/json',
        'JsonStub-User-Key': 'e2bfd02e-ac0b-4713-9222-585f17c30cea',
        'JsonStub-Project-Key': 'ff203162-b316-4b3d-b3b5-a2ff5e08c253'
    }
}).success(function (data, status, headers, config) {
     $scope.projectList = data.projectName;
    
});

$scope.projectDetailClicked = function(obj){
alert("Project Name: " + obj.projectName + ' ' + "Status: " + obj.status);
}
	});
	
	</script>

	</body>
	</html>
